<a href="https://colab.research.google.com/github/NishitMittal2004/Summer-school-assignment/blob/main/D2_Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Question 1**
---

In [ ]:
L = [11,12,13,14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

In [ ]:
L = [11,12,13,14]
L.append(50)
L.append(60)
print(L)

L.remove(11)
L.remove(13)
print(L)

[11, 12, 13, 14, 50, 60]
[12, 14, 50, 60]

In [ ]:
L.sort
print(L)

[60, 50, 14, 12]

In [ ]:
L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

In [ ]:
print(13 in L)

False

In [ ]:
print("No. of elements --> ", len(L))

No. of elements -->  4

In [ ]:
print("Sum =", sum(L))

Sum = 136

In [ ]:
L = [11,12,13,14]

sumOdd=0
for i in range (len(L)):
  if L[i]%2 != 0:
    sumOdd=sumOdd + L[i]
print(sumOdd)

24

In [ ]:
L = [11,12,13,14]

sumEven=0
for i in range (len(L)):
  if L[i]%2 == 0:
    sumEven=sumEven + L[i]
print(sumEven)

26

In [ ]:
L=[11,12,13,14]
sumPrime=0

for i in L:
 f=0 
 for j in range(2,i//2+1):
  if i%j==0:
   f=f+1
 if f==0:  
  sumPrime+=i
print("Sum of prime numbers is",sum)

Sum of prime numbers is 24

In [ ]:
L=[11,12,13,14]
L.clear()
print("After clearing --->", L)

After clearing ---> []

In [ ]:
L=[11,12,13,14]

del L

---
# **Question 2**
---

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

D[8]=8.8
print("After adding -->", D)

After adding --> {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
del D[2]
print("After deleting -->", D)

After deleting --> {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
print("Is 6 present in D -->", 6 in D)

Is 6 present in D --> False

In [ ]:
print("Number of elements -->", len(D))

Number of elements --> 5

In [ ]:
sum=0
for i in D:
  sum+=D[i]
print("Sum of values =", sum)

Sum of values = 37.4

In [ ]:
D[3]=7.1
print("After updating -->", D)

After updating --> {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
D.clear()
print("After clearing -->", D)

After clearing --> {}

---
# **Question 3**
---

In [ ]:
S1= set(['10', '20', '30', '40', '50', '60'])
S2= set(['40', '50', '60', '70', '80', '90'])
S1.add("55")
S1.add("66")
print("After adding -->", S1)

After adding --> {'55', '30', '20', '50', '10', '60', '40', '66'}

In [ ]:
S1.remove("10")
S1.remove("30")
print("After deleting -->", S1)

After deleting --> {'55', '20', '50', '60', '40', '66'}

In [ ]:
print("Is 40 present in S1 -->", 40 in S1)

Is 40 present in S1 --> False

In [ ]:
S1= set(['10', '20', '30', '40', '50', '60'])
S2= set(['40', '50', '60', '70', '80', '90'])
print("Union of S1 and S2 -->", S1.union(S2))

Union of S1 and S2 --> {'80', '30', '20', '50', '10', '60', '40', '90', '70'}

In [ ]:
print("Intersection of S1 and S2 -->", S1.intersection(S2))

Intersection of S1 and S2 --> {'50', '60', '40'}

In [ ]:
print("Difference S1 - S2 -->", S1-S2)

Difference S1 - S2 --> {'30', '10', '20'}

---
# **Question 4**
---

In [ ]:
import string as s
import random as r

res = [''.join(r.choice(s.ascii_letters) for i in range(r.randint(6,8))) for i in range(100)]

for string in res:
    print(string)

In [ ]:
def IsPrime(n):
  for i in range(2,n//2+1):
      if n%i==0:
        return 0
  return 1
    
for n in range(600,800):
  if IsPrime(n):
    print(n)

In [ ]:
for i in range(100,1001):
  if i%7==0 and i%9==0:
    print(i)

---
# **Question 5**
---

In [ ]:
import random as r

list1 = []
list2 = []

for i in range(10):
  list1.append(r.randint(10,30))
  list2.append(r.randint(10,30))

print("List 1 -->", list1)
print("List 2 -->", list2)

List 1 --> [19, 25, 23, 24, 13, 12, 18, 21, 12, 20]
List 2 --> [11, 23, 14, 22, 10, 29, 27, 22, 14, 24]

In [ ]:
common = list(set(list1) & set(list2))
print("Common numbers -->", common)

Common numbers --> [24, 23]

In [ ]:
unique = list(set(list1) | set(list2))
print("Unique numbers -->", unique)

Unique numbers --> [10, 11, 12, 13, 14, 18, 19, 20, 21, 22, 23, 24, 25, 27, 29]

In [ ]:
minimum = min(min(list1), min(list2))
print("Minimun -->", minimum)

Minimun --> 10

In [ ]:
maximum = max(max(list1), max(list2))
print("Maximum -->", maximum)

Maximum --> 29

In [ ]:
sum = sum(list1) + sum(list2)
print("Sum -->", sum)

Sum --> 383

---
# **Question 6**
---

In [ ]:
import random as r

list=[]
for i in range(100):
  list.append(r.randint(100,900))

print("List -->", list)

List --> [156, 155, 320, 708, 769, 368, 121, 719, 725, 861, 704, 596, 217, 312, 198, 756, 215, 734, 174, 582, 682, 338, 474, 185, 495, 613, 703, 318, 156, 838, 593, 713, 191, 716, 406, 631, 107, 319, 633, 743, 817, 376, 843, 846, 526, 495, 809, 230, 333, 367, 276, 293, 133, 416, 241, 440, 674, 124, 872, 584, 216, 134, 329, 133, 137, 833, 329, 321, 762, 453, 732, 413, 825, 434, 866, 166, 607, 897, 422, 885, 720, 558, 622, 222, 416, 150, 699, 406, 885, 801, 147, 143, 452, 809, 476, 685, 839, 589, 273, 212]

In [ ]:
c=0
for i in range(len(list)):
  if list[i]%2!=0:
    c+=1
    print(list[i])
print("Count of odd numbers =", c)

In [ ]:
d=0
for i in range(len(list)):
  if list[i]%2==0:
    d+=1
    print(list[i])
print("Count of even numbers =", d)

In [ ]:
p=0
for i in list:
  f=0
  for k in range(2,i//2+1):
    if i%k==0:
      f+=1
  if f==0:
    p+=1
    print(i)

print("Count of prime numbers =", p)

---
#**Question 7**
---

In [ ]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
fp=open('result.txt','w')
for k in D:
  fp.write(str(k) + "," + D[k] + "\n")
fp.close()

print("Writing Done !!")

Writing Done !!

---
# **Question 8**
---

In [ ]:
L=["One","Two","Three","Four","Five"]
fp=open('file.txt','w')
for i in L:
  length = len(i)
  fp.write(i+","+str(length)+"\n")
fp.close()

print("Writing Done !!")

Writing Done !!

---
# **Question 9**
---

In [200]:
import random as r
import string as s
fp = open('test.txt','w')
res = [''.join(r.choice(s.ascii_letters) for i in range(r.randint(10,15))) for i in range(100)]
for element in res:
  fp.write(element+"\n")
fp.close()
print("Writing Done !!")

Writing Done !!

---
# **Question 10**
---

In [217]:
fp=open('file.txt','w')

def IsPrime(n):
  for i in range(2,n//2):
      if n%i==0:
        return 0
  return 1
    
for n in range(600,800):
  if IsPrime(n):
    fp.write(str(n))

fp.close()
print("Writing Done !!")

Writing Done !!

---
# **Question 11**
---